/* begin general page styling */
@charset "UTF-8";

body {
    font-family: "myriad-pro", myriad, helvetica, sans-serif;
    background-repeat: repeat;
    overflow-y: scroll; /* or auto */
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p {
  font-size: 1em;
}
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
a {
    text-decoration: none;
    color: #000;
}
a.current {
    padding-bottom: 5px;
    border-bottom: 4px solid #28b6e4;
}

.page-title {
  font-family: "myriad-pro", helvetica, sans-serif;
/*  font-family: 'Raleway', helvetica, sans-serif;*/
  font-size: 4em;
  text-align: center;
  margin: 0 auto 0 auto;
  padding-bottom: 0;
}
footer {
  height: 40px;
  background-color: #ddd;
  color: #a3a3a3;
  font-weight: bold;
  margin: 0;
  padding-top: 12px;
  text-align: center;
  clear: both;
}
::selection {
    background: #bbb;
}
::-moz-selection {  /* Code for Firefox */
    background: #bbb;
} /* end general page styling */

/* begin navbar styling */
@media only screen and (min-width: 769px) {
    header {
      background-color: #fff;
      height: 110px;
    }
    header img {
      float: left;
      width: 100px;
      margin: 6px 0 0 6px;
    }

    .firstrow {
      padding: 0;
    }
    .firstrow .div3a, .firstrow .div3b {
      text-align: right;
    }
    nav {
      width: 100%;
      height: 100%;
      padding: 10% 0 0 0;
      left: 0;
      position: fixed;
      visibility:hidden;
      opacity:0;
      -webkit-transition: visibility 0s ease 300ms, opacity 300ms;
      -o-transition: visibility 0s ease 300ms, opacity 300ms;
      transition: visibility 0s ease 300ms, opacity 300ms ease;
    }
    nav a:hover {
      padding-bottom: 5px;
      border-bottom: 4px solid #28b6e4;
    }
    nav #navicon {
    }
    nav ul {
      position: relative;
      float: right;
      margin-top: -30px;
    }

    nav li {
    /*    display: inline-block;*/

      list-style: none;
    /*    float: right;*/
      margin: -15px 20px 0 20px;
      padding: 5px 0 0 50%;
      font-weight: 400;
      color: #000;
    }
  
}
/* /////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (min-width: 769px) {
    nav {
      float: right;
      padding: 0px 0px 0 0 ;
      position: relative;
      visibility: visible;
      opacity: 1;
    }
    nav ul {
      top: -30px;
    }
    nav ul li {
      display: inline;
      padding: 0;
    }
    li a {
      font-size: 18px;
    }
} /*end all navbar styling*/



/* BEGIN INDEX PAGE STYLING */
#index-cover-photo {
  background: url(../assets/images/tavin-croatia.jpg) no-repeat left;
  margin: 0;
  height: 800px;
/*  background-color: lightcoral;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.vert-text {
  margin: 25% auto 0 auto;
  width: 50%;
}
.vert-text h1 {
  text-align: center;
  font-family: "myriad-pro", helvetica, sans-serif;
/*  font-family: 'Raleway', helvetica, sans-serif;*/
  font-weight: 500;
  font-size: 21em;
  opacity: 0.7;
}
.vert-text h4 {
  text-align: center;
  font-family: "myriad-pro", helvetica, sans-serif;
/*  font-family: 'Raleway', helvetica, sans-serif;*/
  font-weight: 500;
  font-size: 2em;
  color: #000;
  opacity: 1.0;
}
.call-to-action {
  text-align: center;
  font-size: 1.2em;
  width: 220px;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #28b6e4;
  opacity: 1;
  margin: 15px 0 0 41%;
  padding: 13px 5px 15px 5px;
}
.call-to-action:hover {
/*  box-shadow: inset 0 0 0 2.5px #fff;*/
  border: 2px solid #28b6e4;
  color: white;
  background-color: #000;
  opacity: 0.5;
}
/* END INDEX PAGE STYLING */


/*BEGIN WORK PAGE STYLING*/
/* begin ISOTOPE image grid filter styling */
/* source: http://isotope.metafizzy.co/ */
 * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* ---- button ---- */

.isotopebutton {
  display: inline-block;
  background: none;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
}
.isotopebutton.is-checked {
  color: #28b6e4;
}
/* ---- button-group ---- */
.button-group {
  text-align: center;
}
/* grid as a whole */
.isotope {
  margin: 0% 5% 0 10%;
}
.isotope:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- each element ---- */
/*
.grid__item {
  position: relative;
  float: left;
  width: 275px;
  height: 275px;
  margin: 8px;
  padding: 0px;
}
*/
.grid-item {
  opacity: 1;
}
.grid-item img {
  width: 275px;
  height: 275px;
  border-radius: 2px;
  margin: 8px;
/*  border: 2px solid #000;*/
}
.grid-item:hover {
  opacity: 0.8;
}
.grid-item .name {
  visibility:hidden;
  position: absolute;
  bottom: 5%;
  text-transform: none;
  font-weight: 100;
  text-align:left;
  font-size: 22px;
  left: 5%;
}

/* end ISOTOPE image grid filter styling */

/* begin tympanus image grid overlay effect */
/* source: http://tympanus.net/Development/ImageGridEffects/index2.html */
/*
button:focus {
	outline: none;
}
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.content {
	padding: 1em 0 3em;
	max-width: 1080px;
	margin: 0 auto;
}
*/
/* end tympanus image grid overlay effect */

/*END WORK PAGE STYLING*/


/* BEGIN ABOUT PAGE STYLING */
#about-text-box {
  float: left;
  margin: 0% 0 0 5%;
  width: 35%;
}
.show-title {
  visibility: hidden;
}
#about-title {
  font-size: 2em;
  font-weight: 100;
  padding-bottom: 8px;
  border-bottom: 4px solid #000;
}
.about-intro {
  margin-top: 0px;
  line-height: 1.3;
}
.about-p {
  line-height: 1.3;
}
.about-h3 {
  margin: 10px 0 2px 0;
  font-weight: 600;
}
#about-image-box img {
  margin: 0% 8% 0 0;
  height: 466px;
  width: 416px;;
  float: right;
/*
  -ms-transform: rotate(7deg);  IE 9 
  -webkit-transform: rotate(7deg);  Chrome, Safari, Opera 
  transform: rotate(7deg);
*/
}
/* END ABOUT PAGE STYLING */


/* BEGIN RESUME PAGE STYLING */
#resume-lefttext {
  float: left;
  clear: left;
  margin: 2.5% 0 5% 5%;
  width: 60%;
}
#resume-lefttext a {
  text-decoration: underline;
}
#resume-lefttext h3 {
  font-size: 2em;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 3px;
  border-bottom: 4px solid #000;
}
#resume-lefttext h4 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.3;
  padding-top: 10px;
  
}

#resume-list {
  padding-top: 3px;
}
#resume-list li {
/*  margin-left: 17px;*/
  list-style: inside square;
}
.resume-data{
  color: #666;
  font-size: 0.9em;
}
#right-bar {
  float: right;
  margin: 2.5% 5% 0 0;
  width: 30%;
}
#right-bar img {
  height: 80%;
  width: 80%;
  margin: 8% 0 0 15%;
}
#resumebutton {
  float: left;
  text-align: center;
  font-size: 1.2em;
  width: 220px;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #28b6e4;
  opacity: 1;
  margin: 50px 0 0 5%;
  padding: 13px 5px 15px 5px;
}
#resumebutton:hover {
  box-shadow: inset 0 0 0 2.5px #fff;
  border: 2px solid #28b6e4;
  background-color: #28b6e4;
  opacity: 1;
}
/* END RESUME PAGE STYLING */

/* BEGIN CONTACT PAGE STYLING */
#contact-leftbox {
  float: left;
  margin: -3% 0 1.5% 5%;
  width: 60%;
}
#contact-leftbox p {
  padding-top: 2px;
}
#contact-leftbox h1 {
  font-size: 2em;
  font-weight: 100;
  padding-bottom: 13px;
  border-bottom: 4px solid #000;
}
#contact-leftbox h5 {
  font-size: 1.2em;
  font-weight: 600;
  padding-top: 5px;
}
#contact-leftbox ul li {
  list-style: inside square;
}
#contact-rightbox {
  margin: -2.2% 0% 0 0;
  clear: both;
  width: 100%;
  height: 175px;
/*  border: 2px solid #696767;*/
  padding: 0px 0px 0 5%;
}
.socials {
/*  float: left;*/
}
#contact-rightbox h5 {
  font-size: 1.2em;
  font-weight: 600;
  
}
#contact-rightbox li {
  display: inline;
  padding-top: 10px;
}
#contact-rightbox li:hover {
  opacity: 0.8;
}
#contact-rightbox li img {
  width: 50px;
  height: auto;
  border-radius: 5px;
}
label {
  font-size: 0.9em;
  font-weight: 100;
}
/* END CONTACT PAGE STYLING */
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* BEGIN Project PAGES */
.mainframe {
  margin: -10% 0 0 0;
  width: 100%;
/*  height: 800px;*/
  background-color: #e9e9e9;
  
/*  clip: rect(0px,60px,200px,0px);*/
  position: fixed;
  z-index: -1;
/*  background-size: cover;*/
}
#mainframe-image {
/*    clip: rect(300px, 100% 0 100%);*/
/*    height: 450px;*/
    width: 100%;
/*    margin-top: -5%;*/
    margin: 0 auto 0 auto;
/*    z-index: 5;*/
}

#project-title {
/*  position: relative;*/
  margin-left: 1.75%;
  margin-top: 0px;
  font-family: "myriad-pro", helvetica, sans-serif;
/*  font-family: 'Raleway', Helvetica, sans-serif;*/
  font-size: 3.5em;
/*  z-index: 10;*/
}
.bigwhitebox {
  box-shadow: 0px 10px 30px #666;
/*  box-shadow: 30px none 5px 5px #000;*/
  margin: 36% 0 0 0;
  padding-top: 10px;
  padding-bottom: 15%;
  width: 100%;
  height: cover;
  position: static;
  background-color: #fff;
}
.metadata {
  margin: 2% 0 0 5%;
  font-weight: bold;
}
.metadata a {
  text-decoration: underline;
}

.description {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 0;
  height: 300px;
}

.introtext {
  float: left;
  margin: 2% 0 0 5%;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.5;
  width: 40%;
}
.descriptiontext {
  float: left;
  margin: 5% 0 0 5%;
  line-height: 1.5;
  width: 40%;
}


.descriptionwide {
  float: right;
  clear: both;
  margin: 2% 5% 0 0;
  height: auto;
  width: 375px;
/*  width: 30%;*/
  background-color: #1a9ad6;
  clear: both;
}

.descriptiontall {
  float: right;
  margin: 2% 5% 0 0;
/*  padding-bottom: 100px;*/
  height: auto;
  width: 250px;
/*  width: 30%;*/
  background-color: #1a9ad6;
  clear: both;
}

.descriptionsquare {
  float: right;
  margin: 5% 5% 0 0;
  height: auto;
  width: 250px;
  clear: both;
}

#closebutton {
  position: absolute;
  float: right;
  right: 15px;
  margin-right: 0;
  padding-top: 15px;
/*  margin-right: 5%;*/
/*  z-index: -2;*/
}
@media screen and (min-width: 769px) {
  
#closebutton:hover {
 opacity: 50%;
 background-color: white;
}
}
/* END INDIVIDUAL WORK PORTFOLIO PAGES */




/* /////////////////////////////////////////////////////////////////////////////////////////// */
/*mobile screen size*/

@media screen and (max-width: 768px) {
  
header {
    background-color: #fff;
/*    z-index: 1;*/
    height: 110px;
}
header img {
    float: left;
    width: 100px;
    margin: 6px 0 0 6px;
}

.firstrow {
padding: 0px 0;
}
.firstrow .div3a, .firstrow .div3b {
    text-align: right;
}

nav {
    width: 100%;
    height: 100%;
    padding: 10% 0%;
    left: 0;
    position: fixed;
    background-color: #fff;
    visibility:hidden;
    opacity:0;
    -webkit-transition: visibility 0s ease 300ms, opacity 300ms;
    -o-transition: visibility 0s ease 300ms, opacity 300ms;
    transition: visibility 0s ease 300ms, opacity 300ms ease;
}
.navisible {
    visibility: visible;
    opacity: 0.98;
    z-index: 1;
    transition-delay: 0.0s;
}
nav a:hover {
    color: #777;
}
a.current {
    color: #28b6e4;
    border: none;
}
nav #navicon {
}
nav ul {
    position: relative;
  
}

nav li {
    list-style: none;
    float: right;
    margin: 50px 0px 0 0px;
    padding: 5px 5% 0 50%;
    font-weight: 400;
    color: #000;
  
}
  
 /* BEGIN MOBILE INDEX PAGE STYLING */
index-cover-photo {
background: url(../assets/images/tavin-croatia.jpg) no-repeat left center;
margin: 0;
opacity: 0.6;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.vert-text {
margin: 0% auto 0 auto;
padding-top: 30%;
width: 85%;
}
.vert-text h1 {
text-align: center;
font-family: "myriad-pro", helvetica, sans-serif;
/*font-family: 'Raleway', helvetica, sans-serif;*/
font-weight: 500;
font-size: 10em;
opacity: 0.7;
}
.vert-text h4 {
text-align: center;
font-family: "myriad-pro", helvetica, sans-serif;
/*font-family: 'Raleway', helvetica, sans-serif;*/
font-weight: 500;
font-size: 1.5em;
color: #000;
opacity: 1;
}
/* END MOBILE INDEX PAGE STYLING */  

/* BEGIN MOBILE WORK PAGE STYLING */
.page-title {
font-family: "myriad-pro", helvetica, sans-serif;
/*font-family: 'Raleway', helvetica, sans-serif;*/
font-size: 4em;
text-align: center;
margin: 5% auto 0 auto;
padding-bottom: 0;
}
  
/* begin ISOTOPE image grid filter styling */
/* source: http://isotope.metafizzy.co/ */
/*
 * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*/

/* ---- button ---- */

/*
.isotopebutton {
  display: inline-block;
  background: none;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
}
*/
/*
.isotopebutton.is-checked {
  color: #28b6e4;
}
*/
/* ---- button-group ---- */
/*
.button-group {
  text-align: center;
}
*/
/* grid as a whole */
.isotope {
  margin: 0% auto 0 auto;
}
/*
.isotope:after {
  content: '';
  display: block;
  clear: both;
}
*/
/* ---- each element ---- */
/*
.grid__item {
  position: relative;
  float: left;
  width: 275px;
  height: 275px;
  margin: 8px;
  padding: 0px;
}
*/


.grid-item:hover {
  opacity: 1;
  
}
.grid-item .name {
  visibility: hidden;
  position: absolute;
  bottom: 5%;
  text-transform: none;
  font-weight: 100;
  text-align:left;
  font-size: 22px;
  left: 5%;
}

/* end ISOTOPE image grid filter styling */

/* begin tympanus image grid overlay effect */
/* source: http://tympanus.net/Development/ImageGridEffects/index2.html */
/*
button:focus {
	outline: none;
}
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.content {
	padding: 1em 0 3em;
	max-width: 1080px;
	margin: 0 auto;
}
*/
/* end tympanus image grid overlay effect */
  
/* END MOBILE WORK PAGE STYLING */
  
/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* BEGIN MOBILE PROJECT PAGES */
.mainframe {
  margin: -10% 0 0 0;
  width: 100%;
/*  height: 800px;*/
/*  background-color: #e9e9e9;*/
  
/*  clip: rect(0px,60px,200px,0px);*/
  position: fixed;
  z-index: -1;
/*  background-size: cover;*/
}
#mainframe-image {
/*    clip: rect(300px, 100% 0 100%);*/
/*    height: 450px;*/
    width: 100%;
/*    margin-top: -5%;*/
    margin: 0% auto 0 auto;
/*    z-index: 5;*/
}

#project-title {
/*  position: relative;*/
  margin-left: 1.75%;
  margin-top: 0px;
  font-family: "myriad-pro", Helvetica, sans-serif;
  font-size: 3.5em;
/*  z-index: 10;*/
}
.bigwhitebox {
  box-shadow: 0px 10px 30px #666;
/*  box-shadow: 30px none 5px 5px #000;*/
  margin: 36% 0 0 0;
  padding-top: 10px;
  width: 100%;
  height: auto;
/*  position: static;*/
  background-color: #fff;
}
.metadata {
  margin: 0% 0 3% 5%;
}
.metadata a {
  text-decoration: underline;
}
.description {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 0;
  height: 300px;
}

.introtext {
  margin: 1% 0 0 0%;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.5;
  width: 100%;
}

.descriptiontext {
  margin: 1% 0 5% 0%;
  width: 100%;
}


.descriptionwide {
  clear: both;
  margin: 5% 0 0 0;
  height: auto;
  width: 100%;
/*  width: 30%;*/
  background-color: #1a9ad6;
}

.descriptiontall {
  float: right;
  margin: 0 5% 0 0;
  height: auto;
  width: 250px;
/*  width: 30%;*/
  background-color: #1a9ad6;
}

#closebutton {
  position: absolute;
  float: right;
  right: 2.75%;
  margin-right: 0;
  padding-top: 15px;
/*  margin-right: 5%;*/
/*  z-index: -2;*/
}


/* END MOBILE PROJECT PAGES */  
  
  
/* BEGIN MOBILE ABOUT PAGE STYLING */
#about-text-box {
  margin: 0 0 5% 0;
  padding-top: 10%;
  width: 100%;
}
.show-title {
  visibility: visible;
}
  
#about-title {
  font-size: 1.5em;
  font-weight: 100;
  padding-left: 2%;
  padding-bottom: 8px;
  border-bottom: 4px solid #000;
}
.about-intro {
  margin-top: 6px;
  margin: 0 2% 0 2%;
  line-height: 1.3;
}
.about-p {
  line-height: 1.3;
  margin: 0 2% 0 2%;
}
.about-h3 {
  margin: 5% 2% 0 2%;
  font-weight: 600;
}
#about-image-box img {
  margin: 0% 15% 0 0;
  padding-top: 10%;
  height: 70%;
  width: 70%;
/*
  -ms-transform: rotate(7deg);  IE 9 
  -webkit-transform: rotate(7deg);  Chrome, Safari, Opera 
  transform: rotate(7deg);*/

}
/* END MOBILE ABOUT PAGE STYLING */

  
/* BEGIN MOBILE RESUME PAGE STYLING */
#resume-lefttext {
margin: 2.5% 0 5% 1.5%;
width: 98.5%;
line-height: 1.2;
}

#resume-lefttext a {
  text-decoration: underline;
}

#resume-lefttext h3 {
  font-size: 2em;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 3px;
  margin-left: -1.5%;
  border-bottom: 6px solid #000;
}

#resume-lefttext h4 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.3;
  padding-top: 10px;
}



.resume-data{
  color: #666;
  font-size: 0.9em;
}

#right-bar {
  margin: 0 0 0 0;
/*  padding: 0 2% 5% 2%;*/
  width: 100%;
}

#right-bar img {
  height: 95%;
  width: 95%;
  margin: 8% 0 8% 1%;
}

#resumebutton {
  clear: both;
  text-align: center;
  font-size: 1.2em;
  width: 80%;
  height: 50px;
  margin: 8% auto 5% auto;
  padding: 13px 5% 15px 5%;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #28b6e4;
  opacity: 1;
  
}

  li a {
    font-size: 1em;
  }
  
/* END MOBILE RESUME PAGE STYLING */

/* BEGIN MOBILE CONTACT PAGE STYLING */
#contact-leftbox {
  margin: 0% 0 1.5% 0;
  width: 100%;
}
#contact-leftbox p {
  padding-top: 2px;
  padding-left: 5px;
}
#contact-leftbox h1 {
  font-size: 2em;
  font-weight: 100;
  padding-top: 5%;
  padding-left: 2%;
  padding-bottom: 13px;
  border-bottom: 4px solid #000;
}
#contact-leftbox h5 {
  font-size: 1.2em;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 5px;
}
#contact-leftbox ul li {
  list-style: inside square;
  padding-left: 5px;
}
#contact-rightbox {
  margin: 0;
  clear: both;
  width: 100%;
  height: 175px;
/*  border: 2px solid #696767;*/
  padding: 25px 0 0 2%;
}
.socials {
/*  float: left;*/
}
#contact-rightbox h5 {
  font-size: 1.2em;
  font-weight: 600;
  
}
#contact-rightbox li {
  display: inline;
  padding-top: 10px;
}
#contact-rightbox li:hover {
  opacity: 0.8;
}
#contact-rightbox li img {
  width: 50px;
  border-radius: 5px;
  height: auto;
}
label {
  font-size: 0.9em;
  font-weight: 100;
}
/* END MOBILE CONTACT PAGE STYLING */
  
} /* end mobile media query for resume as of now */
  