@charset "UTF-8";
/* CSS Document – Navi-"dope"-con */


#navicon {
    position: absolute;
    top: 48px;
    right: 5%;
    width: 26px;
    height: 30px;
    visibility: visible;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: transform .5s ease-out;
    -moz-transition: transform .5s ease-out;
    -o-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
    cursor: pointer;
    z-index: 2;
}   
@media only screen and (min-width: 769px) {
    #navicon {
        visibility: hidden;
    }
}
    

#navicon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #808080;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 300ms ease; 
    -moz-transition: all 300ms ease; 
    -o-transition: all 300ms ease; 
    transition: all 300ms ease;
}

/* Icon 4 */

#navicon {
}

#navicon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: center center;
}

#navicon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: center center;
}

#navicon.open span:nth-child(1) {
    background: #808080 !important;
/*  background: #0f0 !important;*/
/*
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -3px;
    left: 20px;
*/
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 5px;
    right: 5px;
}

#navicon.open span:nth-child(2) {
    background: #808080 !important;
/*
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 14px;
    left: 20px;
*/
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 5px;
    right: -5px;
}